<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>{{ 'WELCOME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <img class="logo" src="/assets/croc.jpg">  
   <h1 class="ion-text-center">Croc-Movie</h1>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
      <ion-list> 
      <ion-item>
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="pt">Protugués</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit"  
                    expand="block" 
                    (click)="toMaster()" [color]="networkStatus && networkStatus.connected ? 'primary' : 'dark'"                    
        >{{ 'SIGNIN' | translate }}</ion-button>
        <a  class="small-text">{{ 'FORGOT' | translate }}</a>
      </ion-col>
    </ion-row>
</ion-content>